.Modal{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    background-color: white;
    width: 70%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
}