.Modal{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateY(-100vh) translateX(-50%);
    z-index: 500;
    background-color: white;
    width: 70%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    opacity: 0;
    max-width: 500px;
}

.Open{
    transform: translateY(0) translateX(-50%);
    opacity: 1;
}